/* 컴포넌트의 맨 아래에 해당되는 부분 */
.storybook-button {
  /* font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  cursor: pointer;
  transition: all 0.6s;
  /* button reset CSS */
  border: none;
  outline: none;
}
/* variantCSS */
.primary {
  background-color: #ff9d2a;
  color: #fff;
  &:hover {
    background-color: #ffce95;
  }
}
.secondary {
  background-color: #0f6b00;
  color: #fff;
  &:hover {
    background-color: #5fb751;
  }
}
/* sizeCSS */
.smallCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.mediumCircle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.largeCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/* fontCSS */
.small {
  font-size: 14px;
  font-weight: 400;
}
.medium {
  font-size: 20px;
  font-weight: 500;
}
.large {
  font-size: 26px;
  font-weight: 700;
}
